/* .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
} */


.sideBar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: var(--white);
    min-width: 270px;
}