.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 230px;
    margin-top: 20px;
    border: 2px solid rgb(211, 211, 211);
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.card:hover{
    border-radius: 5px;
    transform: translateY(-5px);
}

.cardImg img{
    width: 100%;
}

.title{
    font-weight: 500;
}

.price{
    font-weight: 900;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    bottom : 0;

}

.add{
    cursor: pointer;
}