.upper{
    display: flex;
    margin-top: 50px;
}
.title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.price{
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 700;
}
.color{
    font-size: 14px;
    margin-bottom: 20px;
}

.color span{
    font-weight: 500;
}
.images{
    display: flex;
}

.bigImg{
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 401px;
    border-radius: 5px;
    margin-right: 20px;
}

.bigImg img{
    width: 100%;
}

.descr{
    max-width: 338px;
    margin-bottom: 30px;
}