html ,body{
  height: 100%;
}

body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#root{
  height: 100%;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --white : #ffffff;
  --dark : #191919;
  --gray : #53535381;

}