.logo {
    font-size: 18px;
    font-weight: 900;
}

.logo .link{
    color: var(--dark);
}

.link{
    text-decoration: none;
    border-bottom: 2px solid  var(--white);
    transition: 0.3s;
}

.link:hover {
    border-bottom: 2px solid var(--dark);
}

.link.active{
    border-bottom: 2px solid var(--dark);
}